.card {
  // height: 100%;
  display: flex;
  flex-direction: column;
}

.home {
  background-image: linear-gradient(
      0deg,
      rgba(0, 51, 149, 0),
      rgba(0, 51, 149, 0)
    ),
    url(../assets/AnimalFactfileBG.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 200px;
}

.hero-body.hometext {
  background-color: rgba(127, 178, 121, 0.7);
}

body {
  background-color: rgba(22, 56, 16, 1);
}

p {
  color: #323232;
}

.hero-body {
  max-width: 1000px;
}

.container.add {
  max-width: 660px;
  background-color: rgba($color: #f9f9f9, $alpha: 1);
  box-shadow: 0px 0px 8px 2px #323232;
}

.container.login {
  max-width: 540px;
}

.underline-hover:hover {
  font-weight: bold;
}

.button.navbar-item.is-ghost {
  max-height: 100px;
}

.button.community {
  background-color: rgba(127, 178, 121, 1);
  color: #f9f9f9;
}

.custom-border-radius {
  border-radius: 10px;
}

.custom-min-width {
  min-width: 200px;
}

.custom-height {
  max-height: 50px;
}

.button {
  max-height: 40px;
}

.card-content {
  margin-top: auto;
}

.button.navbar-item {
  height: auto;
}

.logo-emoji {
  margin: 0 10px;
}

.form-link {
  margin-left: 3px;
}

span.logout {
  cursor: pointer;
}

section.section {
  min-height: calc(100vh - 11.25rem);
}

$footer-background-color: #363636;
$footer-padding: 2rem 1.5rem;
$box-padding: 1rem;

@import "../../node_modules/bulma/bulma.scss";
